*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven pro', sans-serif;
}

/* INIZIO TAG HEADER */

.row:after{
  content: "";
  clear: both;
  display: table;
}

header{
  background-color: #0C325A;
}

nav{
  margin-left: 10%;
}

.logo{
vertical-align: middle;
margin-bottom: 10px;
text-align: left;
}

.container{
  width: 100%;
  height:80px;
  line-height: 80px;
}

.bordo{
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 10px;
}

.bg-green{
  background-color: #7CBB01;
}

.banner{
  width: 100%;
  height:600px;
  position: relative;
  text-align: left;
}

.back-head-img{
  height:80%;
  width:70%;
  position: absolute;
  right: 0;
  bottom: 0;
}

ul{
  display: inline;
  vertical-align: middle;
  margin: 0 80px;
}

ul li{
  display: inline;
  vertical-align: middle;
  margin: 0 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.text{
  color: white;
  font-size: 25px;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 50%;
  margin-left: 10%;
}

.text p{
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 40px;
}

/* FINE TAG HEADER */
/* INIZIO TAG MAIN */

.grey-box{
  width: 100%;
  height: 200px;
  background-color:lightgrey;
  text-align: center;
}

.grey-box-text{
    padding-top: 50px;
}

#grey-box-text1{
  font-size: 35px;
}

#grey-box-text2{
  color: grey;
  font-size: 25px;
  font-weight:bold;
  padding-top: 20px;
}

.row{
  width: 100%;
  text-align: center;
  float: left;
}


[class^=col-]{
  width: 30%;
  display:inline-block;
  vertical-align: top;
  padding: 0 30px;
}

.col50{
  width: 40%;
  display: inline-block;
  margin-left: 70px;
  margin-right: 50px;
  vertical-align: top;
}

.img-row1{
  height: 200px;
  margin-top: 50px;
  margin: 40px auto;
}

.img-mountain{
  height: 450px;
}

.row h3{
  font-size: 30px;
  color: #7CBB01;
  padding: 20px 0;
}

#hr-btw-text{
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 40%;
  margin-right: 40%;
}

 #rowhr{
  margin: 5% 5%;
}

.grey-text{
  color: grey;
  font-size: 20px;
  margin: 0 65px;
}

.col50 h4{
  text-align: left;
  margin-right: 40%;
  font-size: 30px;
  margin-bottom: 10px;
}

.col50 p{
  color: grey;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: left;
}

.col50 a{
  font-size: 15px;
  margin-right: 65%;
}

/* TAG FOOTER */

.grey-box-footer{
width: 100%;
height: 200px;
background-color:lightgrey;
float: left;
margin-top: 20px;
line-height: 200px;
display: inline-block;
}

.colfooter{
  width: 49%;
  display: inline-block;
  padding-left: 40px;
}

.colfooter h2{
  font-size: 30px;
  text-align: center;
}

.footer-text{
  margin-left: 25%;
}

.footer-text span,select{
  color: grey;
  border: none;
  font-size: 18px;
}

select{
  padding: 0 30px;
  background-color: lightgrey;
  text-decoration:underline;
}

.btn{
  border: none;
  border-radius: 10px;
  padding:25px 5px;
  margin-left: 15px;
  color: white;s
}

footer{
  position: relative;
}

.help{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: green;
  width: 5%;
  height:10%;
  z-index: 2;
}
