*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven pro', sans-serif;
}

/* INIZIO TAG HEADER */

.row:after{
  content: "";
  clear: both;
  display: table;
}

header{
  background-color: #0C325A;
}

nav{
  margin-left: 10%;
}

.logo{
vertical-align: middle;
margin-bottom: 10px;
text-align: left;
}

.container{
  width: 100%;
  height:80px;
  line-height: 80px;
}

.bordo{
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 10px;
}

.bg-green{
  background-color: #7CBB01;
}

.banner{
  width: 100%;
  height:600px;
  position: relative;
  text-align: left;
}

.back-head-img{
  height:80%;
  width:70%;
  position: absolute;
  right: 0;
  bottom: 0;
}

ul{
  display: inline;
  vertical-align: middle;
  margin: 0 80px;
}

ul li{
  display: inline;
  vertical-align: middle;
  margin: 0 10px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

.text{
  color: white;
  font-size: 25px;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 50%;
  margin-left: 10%;
}

.text p{
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 40px;
}

/* FINE TAG HEADER */
/* INIZIO TAG MAIN */

.grey-box{
  width: 100%;
  height: 200px;
  background-color:lightgrey;
  text-align: center;
}

.grey-box-text{
    padding-top: 50px;
}

#grey-box-text1{
  font-size: 35px;
}

#grey-box-text2{
  color: grey;
  font-size: 25px;
  font-weight:bold;
  padding-top: 20px;
}

.row{
  width: 100%;
  text-align: center;
  float: left;
}


[class^=col-]{
  width: 30%;
  display:inline-block;
  vertical-align: top;
  padding: 0 30px;
}

.col100{
  width: 40%;
  display: inline-block;
  margin-left: 85px;
  vertical-align:

}

.img-row1{
  height: 200px;
  margin-top: 50px;
  margin: 40px 40px;
}


.row h3{

  font-size: 30px;
  color: #7CBB01;
  padding: 20px 0;
}

.row hr{
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: 40%;
  margin-right: 40%;
}

.grey-text{
  color: grey;
  font-size: 20px;
  margin: 0 65px;
}

hr{
  margin: 5%;
}

.row h3{
  vertical-align:top;
}
